name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install build tools
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential
    - name: Build config tester
      run: make config_test

    - name: Run config tests
      run: ./tests/config_tester.sh ./config_tester
    - name: Build router tester
      run: make router_test

    - name: Run router tests
      run: ./tests/router_tester.sh ./router_tester
    - name: Build webserv
      run: make
